.nav-wrapper {
  margin: 20px 0;
  text-align: center;
}

.brand-logo {
  font-size: 34px;
  color: rgb(70, 70, 70);
  font-family: tahoma, arial;
  letter-spacing: 3px;
}

input {
  box-sizing: border-box;
  border: 1px solid rgb(209, 209, 209);
  margin: 10px;
  height: 40px;
  width: 350px;
  padding: 10px;
}

.row button {
  width: 30px;
  height: 30px;
  font-weight: 700;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.15s;
}

.row button:hover {
  opacity: 1;
}

.collection {
  list-style-type: none;
}

.collection button {
  display: inline block;
  border: 1px solid rgb(212, 212, 212);
  background-color: white;
  margin: 5px;
  padding: 5px 10px;
  transition: 0.3s;
}

.collection button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
