<div class="container">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo">{{ config?.title | uppercase }}</span>
    </div>
  </nav>

  <div class="row">
    <input type="text" placeholder="Dodaj zadanie" [(ngModel)]="taskName" />
    <button (click)="createTask()" [disabled]="taskName === ''">+</button>
  </div>

  <ul class="collection">
    <li *ngFor="let task of tasks; let i = index">
      <span>{{ i + 1 }}. {{ task.name }}</span>
      <div>
        <button (click)="deleteTask(task)">
          <i>remove</i>
        </button>
      </div>
    </li>

    <h1 *ngIf="tasks.length === 0">Brak zadań</h1>

    <button class="clearAll" (click)="clearTasks()">
      Wyczyść wszystkie zadania
    </button>
  </ul>
</div>
